argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
cffi==1.17.1
importlib-resources==6.4.5; python_version < "3.9"
jsonschema==4.23.0
lxml==6.1.1
pycparser==2.23
python-docx==1.1.2
typing-extensions==4.13.2
